@theme {
  --color-green-normal: #00ffea;

  --color-grey-light: #dcdcdc;
  --color-grey-input: #807f8b;

  --color-black-normal: #08151d;

  --color-red-error: #ff4167;

  --color-dark-normal: #08151d;
  --color-primitives-white_30: rgba(255, 255, 255, 0.3);

  /* shadow */

  --shadow-light: 0 7px 14px 0 rgba(255, 255, 255, 0.24);
}
